/* 상단영역 */
header{
  
}
header .wrap{
  background-color: #fff;
  box-sizing: border-box;
  height: 70px;
  padding-right: 150px;
} 
header .wrap nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 10px;
}
header .wrap h1{
  font-size: 50px;
  margin-left: 60px;
  font-weight: bold;
}
header .wrap h1 a{
  
}
header .wrap .search{
  background-color: black;
  padding: 10px 20px;
  border-radius: 17.5px;
  margin-right: 800px;
  margin-top: 10px;
}
header .wrap button{
  display: flex;
  gap: 15px;
}
header .wrap ul{
  display: flex;
  gap: 15px;
  padding-top: 25px;
  padding-left: 58px;
  margin-right: -88px;
}
header .wrap ul li{
  
}
header .wrap ul a{
  transition: all 1s;
  display: block;
  line-height: 1.5;
  color: black;
}
header .wrap ul a:hover{
  background-color: black;
  color: #fff;
  border-radius: 17.5px;
  padding: 10px 10px;
}
/* 타이틀영역 */
#title{
  background-image: url(../img/title.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 755px;
  background-color: transparent;
}
div.arrow a{
  display: flex;
  justify-content: space-around;
  gap: 1500px;
  margin-left: -90px;
  padding-top: 336px;
}
div .left{
  width: 50px;
  height: 50px;
  font-size: 0;
  position: relative;
  left: 100px;
}
div .left::before{
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(225deg);
}
div .right{
  width: 50px;
  height: 50px;
  font-size: 0;
  position: relative;
}
div .right::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  right: 17px;
  top: 12px;
}
#title div nav{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: -120px;
}
#title div nav h2{
  font-size: 50px;
  color: white;
  font-weight: bold;
}
#title div nav p{
  line-height: 5;
  color: white;
}
#title div nav .view{
  width: 143px;
  height: 10px;
  padding: 10px 20px 20px 20px;
  border-radius: 50px 50px;
  background-color: white;
  font-weight: bold;
  margin-left: 0px;
}
.list{
  padding: 30px;
  margin-top: -100px;
}
.list ul{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.list ul li{
  
}
.list ul li a{
  color: white;
  font-weight: bold;
  background-color: transparent;
  border-bottom: 1.5px solid white;
  padding-bottom: 5px;
}
.list ul li a span{
  
}
/* 내용영역 */
#pick{
  width: 100%;
  height: 930px;
}
#pick .wrap{
  margin: 0 auto;
  width: 100%;
}
#pick .wrap .h1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  line-height: 3.5;
  letter-spacing: 5px;
  font-weight: bold;
}
.bgimg{
 
}
#pick .big{
  width: 1600px;
  height: 817px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
#pick .big li{
  width: 640px;
  height: 640px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
  background-image: url(../img/big1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
#pick .big a{
  color: white;
  position: absolute;
  left: 140px;
  top: 260px;
}
#pick .big a .h4{
  line-height: 5;
  font-size: 20px;
}
#pick .big a .h5{
  
  font-size: 45px;
  line-height: 1.5;
  font-weight: bold;
  transform: translateY(20px);
}
#pick .big a p{
  
}
#pick .big a.al{
  position: absolute;
  top: 560px;
  right: -111px;
}
#pick .wrap .more{
  border: 1px solid black;
  padding: 20px;
  width: 220px;
  display: block;
  box-sizing: border-box;
  margin-left: 1118px;
  transform: translateY(-150px);
  position: relative;
  transition: all 1s;
  z-index: 0;
  font-weight: bold;
  border-radius: 50px 50px;
  overflow: hidden;
}
#pick .wrap .more::before{
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  color: white;
  background-color: black;
  z-index: -1;
}
#pick .wrap .more:hover{
  color: white;
}
#pick .wrap .more:hover::before{
  color: white;
  width: 100%;
}
#pick .small{
  display: flex;
  gap: 40px;
  position: relative;
  top: -815px;
  left: 150px;
  width: 640px;
  margin: 0 100px 0 100px;
}
#pick .small li{
  width: 350px;
  height: 350px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  background-position: top;
}
#pick .small li:nth-child(1){
  background-image: url(../img/small1.png);
  background-repeat: no-repeat;
}
#pick .small li:nth-child(2){
  position: absolute;
  left: 427px;
  background-image: url(../img/small2.png);
  background-repeat: no-repeat;
}
#pick .small li:nth-child(3){
  position: absolute;
  top: 400px;
  background-image: url(../img/small3.png);
  background-repeat: no-repeat;
}
#pick .small li:nth-child(4){
  position: absolute;
  top: 400px;
  left: 427px;
  background-image: url(../img/small4.png);
  background-repeat: no-repeat;
}
#pick .small li a{
  position: absolute;
  top: 230px;
  left: 40px;
}
#pick .small li a h3{
  line-height: 3;
  font-weight: bold;
}
#pick .small li a p{
  border-bottom: 1.5px solid black;
  padding-bottom: 5px;
} 














